<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AsusFnKeys</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AsusFnKeys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AsusFnKeys</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9F2000</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17E189</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0941</string>
	<key>DTXcodeBuild</key>
	<string>9F2000</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AsusFnKeys</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AsusFnKeys</string>
			<key>IOClass</key>
			<string>AsusFnKeys</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0c14</string>
				<string>PNP0C14</string>
				<string>PnP0C14</string>
				<string>pnp0c14</string>
				<string>ASUS010</string>
				<string>ASUS0100</string>
				<string>ASUS0010</string>
				<string>ATK0100</string>
			</array>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>Preferences</key>
			<dict>
				<key>ALSatBoot</key>
				<false/>
				<key>HasMediaButtons</key>
				<false/>
				<key>KeyboardBLightLevelAtBoot</key>
				<integer>1</integer>
			</dict>
			<key>RM,deliverNotifications</key>
			<true/>
		</dict>
		<key>FnKeysHIKeyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AsusFnKeys</string>
			<key>IOClass</key>
			<string>FnKeysHIKeyboard</string>
			<key>IONameMatch</key>
			<string>FnKeysHIKeyboardDevice</string>
			<key>IOProviderClass</key>
			<string>FnKeysHIKeyboardDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 hieplpvip. Credits: EMlyDinEsH(OSXLatitude)</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOHIDSystem</key>
		<string>1.6.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.6.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.6.0</string>
	</dict>
</dict>
</plist>
