<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>0x591b0000, Port 5, DP2HDMI</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Find</key>
				<data>AQUJAAAEAACHAQAA</data>
				<key>Replace</key>
				<data>AQUJAAAIAACHAQAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
