<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom Kext Directories</key>
	<array>
		<string>/Users/janek/Documents/osx86/Kexty</string>
		<string>/Users/janek/Desktop</string>
		<string>/Users/janek/Documents/osx86/nvclock</string>
	</array>
</dict>
</plist>
